* {
  font-family: 'Albert Sans', sans-serif;
}

div {
  border: 1px solid;
  background-color: coral;
  /* 
  paso 1

  display: inline;
  */
}

/* paso 2
el estilo inline no toma en cuenta las propiedades width ni height

width: 500px;
height: 300px;
*/

/* 
paso 3
p {
  definimos inline-block
  display: inline-block;
  width: 400px;
}
*/