* {
  font-family: 'Albert Sans', sans-serif;
}

body {
  margin: 0;
}

div {
  padding: 5px;
  margin: 5px;

  /* Tamaño */
  width: 100px;
  height: 100px;
}

.header {
  background-color: coral;
}

.main {
  background-color: steelblue;
}

.footer {
  background-color: greenyellow;
}