* {
  font-family: 'Albert Sans', sans-serif;
}

.container {
  margin: 0 auto;
  height: 100%;
}

.container:hover {
  position: relative;
}

.label {
  margin: 60px 10px;
}

.icon {
  height: 30px;
  width: auto;
  position: absolute;
  top: 20px;
  left: 20px;
}
